*{
 padding: 6px; 
 margin: 6px; 
 font-size: 20px; 
}
a{
  text-decoration: none;  
  color: black;
}
#navbar{
    padding: 14px;
    width: 80px;
    margin: auto;
    top: 5px;
    position: fixed;
    align-items: center;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
}
#navbar div a{
    margin-right: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#navbar div a :hover{
    color: black;
}
.landing{
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
    width: 90vw;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}
.landing div{
    width: 45vw;
}
.landing .right{
    border-radius: 15px;
    text-align: center;
}
.landing p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: brown;
}
.landing img{
    height: 60vh;
}
.landing h4{
    color: brown;
}
h3{
    text-align: center;
    color: blac;
}
.levels p{
text-align: center;
}
.levels li{
    text-align: center;
}
.footer{
    background-color: rgb(34, 34, 34);
    color: black;
    padding: 20px;
    text-align: center;
}
.footer div{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer a:hover{
    color: black;
}
